[Unit]
Description=OVH ebtables agent for neutron
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/lib/neutron/ovh-ebtables-agent.pid
User=neutron
ExecStart=/usr/bin/ovh-ebtables-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/ovh_ebtables_agent.ini --log-file /var/log/neutron/ovh-ebtables-agent.log --pid_file=/var/lib/neutron/ovh-ebtables-agent.pid
PrivateTmp=false
KillMode=process

[Install]
WantedBy=multi-user.target
